.fifthstartscreen {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  color: white;
  font-family: 'aptly', sans-serif;
  margin-bottom: 10vh;
}

#bubble-hint {
  display: none;
}


.fifthscreen-content {
  display: none;
  height: 10vw;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 40px;
  flex-wrap: wrap; /* Responsive for smaller screens */
}

.category-legend {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.category-legend div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: aptly, sans-serif;
  color: white;
  font-size: 1rem;
}


.bubble-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(0); /* Default position */
  transition: transform 0.8s ease;
}

.bubble-section.animate-shift {
  transform: translateX(-150px);
}


#packed-circle-chart svg {
  max-width: 100%;
  height: auto;
}

#bar-chart svg {
  max-width: 100%;
  height: auto;
}

#bubble-hint {
  margin-top: 20px;
  color: white;
  font-size: 16px;
  text-align: center;
}

.side-charts.hidden {
  display: none;
}

.side-charts {
  opacity: 0;
  transition: opacity 0.8s ease;
  display: block;
}

.side-charts.visible {
  opacity: 1;
}
