@import url("https://use.typekit.net/rbq5ghm.css");

body {
  background: #3957ff;
  margin: 0;
}

.startscreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

h1 {
  font-family: "beastly", sans-serif;
  font-size: 8rem;
  line-height: 6rem;
  color: #ffffff;
  margin: 0;
}

h2 {
  font-family: "manicotti", sans-serif;
  font-size: 20rem;
  line-height: 16rem;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  margin:0;
}

p {
  font-family: "aptly", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

a {
  margin-top: 1rem;
  font-family: "aptly", sans-serif;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
  z-index: 10;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}


.filters {
  font-family: "aptly-rough", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  color: #5d2720;
  margin-left: 5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 2rem;
}

#category-btn {
  font-family: "aptly", sans-serif;
  background-color: #fff;
  color: #5d2720;
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid #5d2720;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff7ed;
  min-width: 220px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-content label {
  display: block;
  font-family: "aptly", sans-serif;
  font-size: 1rem;
  margin: 4px 0;
  color: #5d2720;
}

.dropdown-content input[type="checkbox"] {
  margin-right: 0.5rem;
}

.dropdown-content.show {
  display: block;
}



#pizza-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#pizza-filter {
  width: 200px;
  font-family: "aptly", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#tooltip {
  font-family: "aptly", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 6px 8px;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 10;
}