.thirdscreen svg {
    display: block;
    max-width: 100%;
  }

.thirdscreen {
    height: 25vh;
    padding: 2.5rem;
    text-align: center;
    font-family: "aptly", sans-serif;
    color: #5d2720;
    margin-bottom: 20%;
    z-index: 1;
  }
  
  
  .tooltip {
    position: absolute;
    background: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "aptly", sans-serif;
    font-size: 0.9rem;
    pointer-events: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    color: #000;
  }

  .thirdscreen svg {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 800px;  /* Limit maximum size even on big screens */
  }

  .thirdscreen text {
    font-family: "aptly", sans-serif;
    font-size: 1.5rem;
    fill: #5d2720;
  }
  
  .thirdscreen .domain {
    stroke-width: 3;
    stroke: #5d2720;
  }
  
  .thirdscreen .tick line {
    stroke-width: 2;
    stroke: #5d2720;
  }
  
  
  
  
  
  
  